<html>
	<body>
		<h1><%=loginname%></h1>
		
		<hr>
		<h2>Update Contact Info</h2>
		<form method="post" action="contacts_page_update">
			<table>
				<tr>
			 		<th>Index</th>
			 		<th>Name</th>
			 		<th>Phone Number</th>
			 		<th>Address</th>
			 		<th>Notes</th>
			 	</tr>
			 	<%info.each do |stuff|%>			 		
				 	<tr>
				 		<td><%=stuff[0][0]%>
				 		<input type="hidden" name="index_arr[]" value="<%=stuff[0][0]%>"></td>
				 		<td><input type="text" name="name_arr[]" value="<%=stuff[1][0]%>" minlength="2" maxlength="30" required></td>
						<td><input type="number" name="phone_arr[]" value="<%=stuff[2][0]%>" minlength="10" maxlength="10" required></td>
				 		<td><input type="text" name="address_arr[]" value="<%=stuff[3][0]%>" maxlength="45" required></td>
						<td><input type="text" name="notes_arr[]" value="<%=stuff[4][0]%>" maxlength="45"></td>				 			
				 	</tr>						
			 	<%end%>
	 		</table><br>
	 		<input calss="button" type="submit" value="Update Info">
	 	</form>
	 	<hr>
	 	<h2>Add Contact</h2>
		<form method="post" action="contacts_page_add">
			<input type="text" name="name" placeholder="Name" maxlength="30" required>
			<input type="number" name="phone" placeholder="Phone" minlength="10" maxlength="10" required>
			<input type="text" name="address" placeholder="Address" maxlength="45" required>
			<input type="text" name="notes" placeholder="Notes" maxlength="45">
			<input class="button" type="submit" value="Add Info">
		</form>
		<hr>
		<h2>Delete Contact</h2>
	 	<form method="post" action="contacts_page_delete">
	 		<a>Enter Index Number of Contact to Delete: </a>
	 		<input type="number" name="remove">
	 		<input class="button" type="submit" value="Delete Contact">
	 	</form>
	</body>
</html>