<html>
	<div id="box">
		<body>
			<div id="fb-root"></div>
				<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=291516238119557&autoLogAppEvents=1';
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>
			<h1>Phone Book</h1>
			<h3><%=loginname%></h3>
			<div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="true" data-auto-logout-link="false" data-use-continue-as="true"></div>
			<hr>
			<h2>Contact Info</h2>
			<form method="post" action="contacts_page_update">
				<table>
					<tr>
				 		<th>Index</th>
				 		<th>Name</th>
				 		<th>Phone Number</th>
				 		<th>Address</th>
				 		<th>Notes</th>
				 	</tr>
				 	<%counter = 1%>
				 	<%info.each do |stuff|%>			 		
					 	<tr>
					 		<td><%=counter%>
					 		<input hidden name="index_arr[]" value="<%=stuff[0][0]%>">
					 		<input hidden name="number_arr[]" value="<%=counter%>"></td>
					 		<td><input type="text" name="name_arr[]" value="<%=stuff[1][0]%>" minlength="2" maxlength="30" pattern="[a-zA-Z0-9\s]+" title="No Special Characters" required></td>
							<td><input type="text" name="phone_arr[]" value="<%=stuff[2][0]%>" minlength="10" maxlength="10" pattern="[0-9]+" title="Only Numbers" required></td>
					 		<td><input type="text" name="address_arr[]" value="<%=stuff[3][0]%>" maxlength="45" pattern="[a-zA-Z0-9\s]+" title="No Special Characters"></td>
							<td><input type="text" name="notes_arr[]" value="<%=stuff[4][0]%>" maxlength="45" pattern="[a-zA-Z0-9\s]+" title="No Special Characters"></td>				 		
							<input hidden type="text" name="owner_arr[]" value="<%=stuff[5][0]%>">
					 	</tr>
					 	<%counter += 1%>						
				 	<%end%>
		 		</table><br>
		 		<input class="button" type="submit" value="Update Info">
		 	</form>
		 	<hr>
		 	<h2>Add Contact</h2>
			<form method="post" action="contacts_page_add">
				<input hidden name="number" value="<%=counter%>">
				<input type="text" name="name" placeholder="Name" maxlength="30" pattern="[a-zA-Z0-9\s]+" title="No Special Characters" required>
				<input type="text" name="phone" placeholder="Phone" minlength="10" maxlength="10" pattern="[0-9]+" title="Only Numbers" required>
				<input type="text" name="address" placeholder="Address" maxlength="45" pattern="[a-zA-Z0-9\s]+" title="No Special Characters">
				<input type="text" name="notes" placeholder="Notes" maxlength="45" pattern="[a-zA-Z0-9\s]+" title="No Special Characters"><br><br>
				<input class="button" type="submit" value="Add Info">				
			</form>
			<hr>
			<h2>Delete Contact</h2>
		 	<form method="post" action="contacts_page_delete">
		 		<a>Enter Index Number of Contact to Delete: </a><br><br>
		 		<%counter -= 1%>
		 		<input type="number" name="number" pattern="[0-9]+" title="Only Numbers" min="1" max="<%=counter%>" required><br><br>
		 		<%counter = 1%>
				<%info.each do |stuff|%>			 						 		
				 	<input hidden name="index_arr[]" value="<%=stuff[0][0]%>">
				 	<input hidden name="number_arr[]" value="<%=counter%>">
					<input hidden name="name_arr[]" value="<%=stuff[1][0]%>">
					<input hidden name="phone_arr[]" value="<%=stuff[2][0]%>">
			 		<input hidden name="address_arr[]" value="<%=stuff[3][0]%>">
					<input hidden name="notes_arr[]" value="<%=stuff[4][0]%>">				 		
					<%counter += 1%>						
			 	<%end%>
		 		<input class="button" type="submit" value="Delete Contact">
		 	</form>
		</body>
	</div>	
</html>