<%=name%><br><br>
<%=phone%><br><br>
<%=address%><br><br>
<%=notes%><br><br>
<%counter = 0%>
 <table>
 	<%info.each do |stuff|%>
 		<tr>
 			<td><%="Update"%><br>
 				<input type="radio" name="update<%=stuff[0][0]%>" value="yes">Yes
 				<input type="radio" name="update<%=stuff[0][0]%>" value="no" checked>No</td>
 			<td><%=stuff[0][0]%></td>
 			<td><input type="text" name="name" value="<%=stuff[1][0]%>"></td>
			<td><input type="number" name="phone" value="<%=stuff[2][0]%>"></td>
 			<td><input type="text" name="address" value="<%=stuff[3][0]%>"></td>
 			<td><input type="text" name="notes" value="<%=stuff[4][0]%>"></td>
 		<tr>
 		<%counter += 1%>
 	<%end%>
 <table>