<html>
	<body>
		<table>
			 <%info.each do |stuff|%>
			 	<tr>
			 		<td><%=stuff[0][0]%>
			 		<input type="hidden" name="index_arr[]" value="<%=stuff[0][0]%>"></td>
			 		<td><input type="text" name="name_arr[]" value="<%=stuff[1][0]%>" required></td>
					<td><input type="number" name="phone_arr[]" value="<%=stuff[2][0]%>" required></td>
			 		<td><input type="text" name="address_arr[]" value="<%=stuff[3][0]%>" required></td>
			 		<td><input type="text" name="notes_arr[]" value="<%=stuff[4][0]%>" required></td>
			 	</tr>
			 <%end%>
	 	</table>
	 </body>
</html>	 